@import "./variables.less";
@import "./home-page.less";
@import "./photo-page.less";
@import url('https://fonts.googleapis.com/css?family=Baumans|Montserrat:300');

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#app, #top {
  display: flex;
  flex: 1;
  background: @background-secondary;
  overflow: auto;
}
